*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}


nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: rgb(127, 127, 244);
}

nav>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

div>img{
    height: 95px;
    width: 200px;
    mix-blend-mode:screen;
}


ol{
    width: 100% ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
    
}

a{
    text-decoration: none;
}

form{
    margin: 80px 0px 0px 550px;
    background-color: #fff;
    border-radius: 10px;
    /* height: 400px; */
    width: 400px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2)
}


h2{
    padding-top: 25px;
    margin-left: 110px; 
    
}

.items1{
    padding-left:100px;
    margin-top: 50px;

}

.items{
    padding: 10px 0px 0px 100px;
    margin-bottom: 10px;
}

.click{
    padding-bottom: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}


.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    font-size: larger;
}

.boxes{
    height: 300px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 20px;
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
}